<div class="pt-3 pb-2 mb-3 border-bottom">

    <h2 class="h2">Editar Receita</h2>
  
  </div>
  
  
  
  <form [formGroup]="receitaForm" (ngSubmit)="submitForm()" novalidate>
  
    <div class="row">
  
      <div class="col-lg-6 col-md-8 col-sm-12">
  
        <div class="row">
  
          <div class="col-md-12 mb-3">
  
            <label>Nome</label>
  
            <input type="text" id="nome" class="form-control" formControlName="nome" required/>
  
            <!-- errors-->
  
            <p *ngIf="nome?.touched && nome?.invalid" class="error">
  
              <sup>*</sup>Nome obrigatório
  
            </p>
  
          </div>
  
        </div>
  
        <div class="row">
  
          <div class="col-md-12 mb-3">
  
            <label>ingredientes</label>
  
            <input
  
              type="text"
  
              formControlName="ingredientes"
  
              class="form-control"
  
              required
  
            />
  
            <!-- errors-->
  
            <p *ngIf="ingredientes?.touched && ingredientes?.invalid" class="error">
  
              <sup>*</sup>Informe os ingredientes
  
            </p>
  
          </div>
  
        </div>
  
        <div class="row">
  
          <div class="col-md-12 mb-3">
  
            <label>Modo de preparo:</label>
  
            <input
  
              type="text"
  
              formControlName="modopreparo"
  
              class="form-control"
  
              required
  
            />
  
            <!-- errors-->
  
            <p *ngIf="modopreparo?.touched && modopreparo?.invalid" class="error">
  
              <sup>*</sup>Informe o modo de preparo
  
            </p>
  
            <p *ngIf="modopreparo?.errors?.['pattern']" class="error">
  
              <sup>*</sup>
  
            </p>
  
          </div>
  
        </div>
  
        <div class="form-group text-end">
  
          <button type="submit" class="btn btn-info mx-2" [disabled]="!receitaForm.valid">
  
            Editar Receita
  
          </button>
  
        </div>
  
      </div>
  
    </div>
  
  </form>